?   Euo("ed"), Euo("u"), Euo("v"), Eo("a"), Eo("b"), Eo("c"), Eo("d"), Eo("g"), ~
	uo(["ed", "u", "v"]), o(["a", "b", "c", "d", "g"]), ~
	Q0G(1), ~
	dG(1,"ed",2), dG(1,"a",4), dG(2,"u",3), dG(2,"a",5), dG(3,"c",7), ~
	dG(4,"b",8), dG(4,"ed",5), dG(5,"u",6), dG(5,"b",9), dG(6,"g",7), ~
	dG(7,"v",5), dG(7,"b",10), dG(8,"ed",9), dG(8,"d",1), dG(8,"v",12), ~
	dG(9,"d",2), dG(9,"u",10), dG(10,"d",3), dG(11,"d",1), dG(12,"ed",11), ~
	T0([1]), T([]), ~
	dI([1], "ed", [2]), dI([1], "a", [4]), dI([2], "u", [3]), dI([2], "a", [5]), dI([3], "c", [7]), ~
	dI([4], "b", [8]), dI([4], "ed", [5]), dI([5], "u", [6]), dI([5], "b", [9]), dI([6], "g", [7]), ~
	dI([7], "v", [5]), dI([7], "b", [10]), dI([8], "ed", [9]), dI([8], "d", [1]), dI([8], "v", [12]), ~
	dI([9], "d", [2]), dI([9], "u", [10]), dI([10], "d", [3]), dI([11], "d", [1]), dI([12], "ed", [11]), ~
	Q1count(0), Q2count(0)
	! q1, q2 Q1count(q1), Q2count(q2), ~
		solve(replace(read_file_to_string("./is_removed.pcf"), "base", base_to_string()), 1000) == false
		? is_removed(q1, q2)
	! q1, le, q2, e, q1c, q2c dI(q1, e, q2), uo(le), e in le, Q1count(q1c), Q2count(q2c), ~
							is_removed(q1c, q2c)	$ remove_fact(0), remove_fact(3), remove_fact(4), remove_fact(5)
		? remove(q1, q2), Q1count(q1), Q2count(q2)
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q3 subseteq q1 $ remove_fact(1)
		? dI( sort(q3 ++ q2), e, q4 )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q3 subseteq q2 $ remove_fact(1)
		? dI( sort(q3 ++ q1), e, q4 )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q4 subseteq q1 $ remove_fact(1)
		? dI( q3, e, sort(q4 ++ q2) )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q4 subseteq q2 $ remove_fact(1)
		? dI( q3, e, sort(q4 ++ q1) )