?   Euo("ed"), Euo("u"), Euo("v"), Eo("a"), Eo("b"), Eo("c"), Eo("d"), Eo("g"), ~
	uo(["ed", "u", "v"]), o(["a", "b", "c", "d", "g"]), ~
	Q0G(1), ~
	dG(1,"ed",2), dG(1,"a",4), dG(2,"u",3), dG(2,"a",5), dG(3,"c",7), ~
	dG(4,"b",8), dG(4,"ed",5), dG(5,"u",6), dG(5,"b",9), dG(6,"g",7), ~
	dG(7,"v",5), dG(7,"b",10), dG(8,"ed",9), dG(8,"d",1), dG(8,"v",12), ~
	dG(9,"d",2), dG(9,"u",10), dG(10,"d",3), dG(11,"d",1), dG(12,"ed",11), ~
	T0([1]), T([]), ~
	dI([1], "ed", [2]), dI([1], "a", [4]), dI([2], "u", [3]), dI([2], "a", [5]), dI([3], "c", [7]), ~
	dI([4], "b", [8]), dI([4], "ed", [5]), dI([5], "u", [6]), dI([5], "b", [9]), dI([6], "g", [7]), ~
	dI([7], "v", [5]), dI([7], "b", [10]), dI([8], "ed", [9]), dI([8], "d", [1]), dI([8], "v", [12]), ~
	 dI([9], "d", [2]), dI([9], "u", [10]), dI([10], "d", [3]), dI([11], "d", [1]), dI([12], "ed", [11])#, ~
	 #remove([1], [2]), remove([4], [5]), remove([5], [6])
	# ! q1, le, q2, ql, e dG(q1, e, q2), uo(le), T0(ql), q1 == last(ql), e in le	$ remove_fact(0), remove_fact(2)
		 # ? T0(push(ql,q2))  
	# ! ql T0(ql), ~
		# solve(replace(read_file_to_string("./no_uo_left_T0.pcf"), "baseformula", base_to_string()), 1000) == false
		# ? T0Ok(ql)
	# ! q1, e, q2, le, qt T0Ok(qt), dG(q1, e, q2), o(le), e in le, q1 in qt
		# ? f(qt, e)
	# ! qt T0Ok([qt])
	# ! ql, q1, q2, e, qt, qc T0Ok(qt), T(qc), dG( q1, e, q2), q1 in qt,  $ remove_fact(1)
		# ? T( push(qc,q2) )
	# ! q1, e, q2 dG(q1, e, q2)
		# ? dI( push( [], q1), e, push( [], q2) )
	 ! q1, le, q2, e dI(q1, e, q2), uo(le), e in le, last(q1) < 7, last(q2) < 7 $ remove_fact(0)
		 ? remove(q1, q2)
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q3 == q1 $ remove_fact(1)
		? dI( push(q3, last(q2)), e, q4 )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q3 == q2 $ remove_fact(1)
		? dI( push(q3, last(q1)), e, q4 )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q4 == q1 $ remove_fact(1)
		? dI( q3, e, push(q4, last(q2)) )
	! q1, q2, e, q3, q4 remove(q1, q2), dI(q3, e, q4), q4 == q2 $ remove_fact(1)
		? dI( q3, e, push(q4, last(q1)) )