?
	!
		?x K(x), A(x)
		? B(c), M(c)
	!
		?x
			! B(x)
			! K(x)
		? L(d)
			! D(d)
			!y A(y)
				? M(y)
	!
		?x C(x)
			! L(x)
		?
			!y K(y), A(y)
	!
		?x
			! C(x)
			! K(x)
		?
			!y C(y)
				? M(y)
