? 	dH(1, "u", 2), dH(2, "v", 3), dH(3, "a", 4), dH(4, "c", 5), ~
	dH(4, "b", 2), dH(5, "d", 1), ~
	dG(1, "u", 2), dG(2, "v", 3), dG(4, "b", 2), dG(1, "a", 4), ~
	dG(3, "b", 2), dG(4, "c", 5), dG(3, "a", 4), dG(5, "d", 1), ~
	dG(5, "e", 3), ~
	unObs(["u", "c", "e"]), ~
	dHobs([1, 2], "v", [3]), dHobs([3], "a", [4, 5]), dHobs([4, 5], "d", [1, 2]), ~
	dHobs([4, 5], "b", [1, 2]), dHobs([1, 2], "u", [1, 2]), dHobs([4, 5], "c", [4, 5]), ~
	L("0", 1)
	! e, s, q, q1, qJ, qJ1 L(s, q), dG(q, e, q1), dHobs(qJ, e, qJ1), q in qJ
		? L(s++e, q1)